global {
        project CUSTOMER
}

superclass common {
        openstack {
                image Ubuntu14.04
                flavor m1.small
                keypair master
        user_data {

            wget 10.1.0.27/puppet_install.sh
            sudo sh puppet_install.sh
            wget 10.1.0.27/puppet_agent_dev.pp
            sudo puppet apply puppet_agent_dev.pp
        }
        }
        network eth0 {
                net nsa_master_net
                address dhcp
        }
}

host CUSTOMER-loadbalancer-01-prod {
    superclass common
}
host CUSTOMER-mysql-01-prod {
    superclass common
}

